/node_modules
/public/hot
/public/storage
/storage/*/*/**
/storage/logs/*
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
**/*Dockerfile
**/docker-compose*
**/.dockerignore
README.md
.github
.gitlab
gitlab-ci.yml
**/.gitignore
.gitattributes
.editorconfig
git-hooks
copilot
